<html></html>

    <head>
        <link rel="stylesheet" href="/static/second.css">
    </head>

    <body>
        <nav>
            <ul style="list-style-type: none">
                <li> <a href="{% url 'base' %}"> base page : Home </a> </li> 
                <li>  <a href="{% url 'about' %}"> about page  </a> </li>
                <li> <a href="{% url 'quote' %}"> quote </a> </li>
                <li> <a href="{% url 'show_all' %}"> show _ all </a> </li>
            </ul>
        </nav>
        <h2>Author: I am Kaizhe Xu, you can call me Jimmy!</h2>
        <h3>below is the intro to the people of the quotes</h3>
        
      <div>
        <h1>About here::</h1>
        {{person}}
       </div> 
    </body>

</html>