<!-- templates/show_all.html -->
{% extends 'blog/base.html' %}
<h1>Showing all Articles</h1>
<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
{% block content %}
<main class="grid-container">
    {% for a in articles %}
    <article>
        {% if a.image_url %}
        <a href="{% url 'article' a.pk %}">     
        <img src="{{a.image_url}}" alt="{{a.image_url}}">
        </a>
        {% endif %}
        
        <div>
        <h2> <a href="{% url 'article' a.pk %}">   {{a.title}} </a> </h2>
        <strong>by {{a.author}} at {{a.published}}</strong>
        <p>
        {{a.text}}
        </p>
        </div>
    </article>
    {% endfor %}
</main>
{% endblock %}


