<!-- blog/templates/blogs/create_comment_form.html -->
{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'other_fb.css' %}">

<div class="container">
	<h2> Friend Suggestions [<font color='red'> {{profile}} </font> ] </h2>

<ul style="list-style:none;padding:0">
  {% for suggestion in profile.get_friend_suggestions %}
  <li style="display:flex;align-items:center;margin-bottom:10px"> 
    <img style="width:40px;height=40px;border-radius:50%;margin-right:10px" src="{{suggestion.image_url}}">
    {{ suggestion }}
    <a href="{% url 'add_friend' pk=profile.pk other_pk=suggestion.pk %}">
	    Add Friend
    </a>
  </li>
  {% empty %}
  <li>No friend suggestions available.</li>
  {% endfor %}
</ul>
  <a href="{% url 'show_profile' profile.pk %}" class="btn btn-secondary">Back to Profile</a>


</div>

{% endblock %}
