{% load static %}
<html>

    <head>
        <link rel="stylesheet" href="{%static 'first.css'%}">
    </head>

    <body>
        <nav>
            <ul style="list-style-type: none">
                <li> <a href="{% url 'base' %}"> base page : Home </a> </li> 
                <li>  <a href="{% url 'about' %}"> about page  </a> </li>
                <li> <a href="{% url 'quote' %}"> quote </a> </li>
                <li> <a href="{% url 'show_all' %}"> show _ all </a> </li>
            </ul>
        </nav>
        <h1>this is the base page</h1>
        <h2>{{quote}}</h2> 
        <img src={{image}} width="500px" height="500px">
        
    </body>

</html>