<html></html>

    <head>
        <link rel="stylesheet" href="/static/second.css">
    </head>

    <body>
        <nav>
            <ul style="list-style-type: none">
                <li> <a href="{% url 'base' %}"> base page : Home </a> </li> 
                <li>  <a href="{% url 'about' %}"> about page  </a> </li>
                <li> <a href="{% url 'quote' %}"> quote </a> </li>
                <li> <a href="{% url 'show_all' %}"> show _ all </a> </li>
            </ul>
        </nav>
        <h1>Show all</h1>
        <ul>
            {% for q in quote%}
            <li>{{q}} </li>
            {% endfor %}
        </ul>

       
                {% for img in image%}
                <div>
                    <img src="{{img}}" width="200px" height="200px">
                </div>
                {% endfor %}
     

        <script src="show.js"></script>
    </body>

</html>