{% extends 'flights/base.html' %}
{% block title %}Cart{% endblock %}
{% block content %}
<h2>Cart</h2>
<table class="table table-striped">
    <thead>
    <tr>
       <th>Flight Number</th>
       <th>Quantity</th>
       <th>Total Price</th>
       <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart_items %}
    <tr>
       <td>{{ item.flight.flight_num }}</td>
       <td>{{ item.quantity }}</td>
       <td>{{ item.total_price }}</td>
       <td>
          <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
       </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
{% endblock %}
